body{
    justify-content: center;
}
.nav{
    width: 100vw;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, rgb(15, 3, 128),rgb(19, 48, 128),rgb(48, 88, 148),rgb(19, 48, 128), rgb(15, 3, 128));
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 98vw;
    z-index: 6;
    left: 0;
}
    
.navbar-brand h1 {
    color: rgb(196, 195, 195);
    margin: 0;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar-links li {
    margin: 0;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #ffcc00; 
}
.personal-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin-top: 30vh;
    font-size: 1vw;
}
.perfil{
    border-radius: 300px;
    filter: drop-shadow(0 0 1em rgb(115, 93, 240));
    width: 28vw;
}
.hr{
    margin-top: 8vw;
    width: 80%;
}
.skill-row1{
    margin-bottom: 10vw;
}
.descripcion{
    width: 35vw;
    p{
        margin: 0;
    }
}
.mision-vision{
    h1{
        margin: 0;
    }
    margin-top: 15vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18em;
    margin-bottom: 15vh;
}
.card-item{
    background-color: rgba(255, 255, 255, 0.185);
    border-radius: 20px;
    text-align: center;
    padding: 15px;
}
.objetivos{
    display: flex;
    justify-content: center;
    margin-bottom: 30vh;
}
.item{
    width: 25%;
}
.item3{
    width: 33%;
}

.skills{
    display: flex;
    flex-direction: column;
    gap: 8vh;
    flex-wrap: wrap;
    perspective: 1000px;
    img{
        width: 8vw;
        height: 8vw;
    }
    #python{
        width: 8vw;
        height: 8vw;
        margin-right: 3vw;
        margin-left: 2vw;
    }
    #html{
        width: 8vw;
        height: 8vw;
    }
    #css{
        width: 13.5vw;
        height: 8vw;
    }
    #javascript{
        width: 13vw;
        height: 8vw;
    }
    #react{
        width: 6vw;
        height: 7vw;
        margin: 0 0 0 2vw;
    }
    #java{
        width: 13vw;
        height: 8vw;
    }
    #spring{
        width: 13vw;
        height: 7vw;
    }
    
    #mysql{
        margin: 0 2vw;
        width: 8vw;
        height: 8vw;
    }
    filter: drop-shadow(0 0 1em rgb(90, 80, 233));


}

.card {
    width: 20%;
    height: 150px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.2s ease-in-out; /* Animación más fluida */
}

.card:hover {
    transform: rotateY(180deg);
}

.skill-row{
    display: flex;
    justify-content: center;
    gap: 3px;
}

.skill {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: all 0.4s ease-in-out; 
}

.texto {
    color: white;
    transform: rotateY(180deg); 
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 1vw;
    background-color: rgba(6, 6, 7, 0.377);
}


.proyectos {
    top: 30vh;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
    margin: auto;
}


.arrow {
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

#img1{
    width: 13vw;
}
#img3{
    width: 12vw;
}
#img4{
    width: 12vw;
}
#img5{
    width: 20vw;
}
.titulo-proyecto{
    color: rgb(31, 163, 168);
    margin: 0;
}
.click{
    margin: 0;
    padding: 0;
    font-size: 1vw;
    color: #74ddf0;
}
.left {
    left: 0.5vw;
}

.right {
    right: 0.5vw;
}

.project-panel {
    display: flex;
transition: transform 0.5s ease;
}


.project {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    box-sizing: border-box;
    padding: 50px;
    background: #f4f4f442;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 40px;
}

#mysql2{
    width: 2vw;
}
footer{
    position: absolute;
    left: 0;
    margin: 0;
    width: 100%;
    margin-top: 60vh;
    background-color: rgba(0, 0, 0, 0.671);
    text-align: center;
}
#contact{
    h3,h4{
        margin: 0;
    }
}
.contacto{
    display: flex;
    margin-top: 2.5vw;
    margin-bottom: 1.5vw;
    align-items: center;
    justify-content: center;

    img:hover{
        scale: 1.2;
        transition-duration: 1s;
        transition-property: all;
    }
}
#github{
    width: 3vw;
    filter: drop-shadow(0 0 0.6em rgb(90, 80, 233));
}
#gmail{
    width: 4vw;
    filter: drop-shadow(0 0 0.6em rgb(231, 244, 245));
}
#whatsapp{
    width: 4vw;
    filter: drop-shadow(0 0 0.6em rgb(44, 207, 71));
}
#linkedin{
    width: 3vw;
    filter: drop-shadow(0 0 0.6em rgb(25, 221, 235));
}

@media (max-width:780px) {
    .personal-info{
        flex-direction: column;
    }
    .perfil{
        width: 60vw;
    }
    .descripcion{
        width: 80vw;
        font-size: 15px;
    }
    .navbar{
        width: 115vw;
    }
    .navbar-links{
        display: none;
    }
    .mision-vision{
        flex-direction: column;
        width: 250vw;
    }
    .item3{
        width: 65vw;
    }
    .card{
        left: 100vw;
        img{
            width: 15vw;
            height: 18vh;
        }
        #python{
            width: 17;
            height: 13vh;
        }
        #vite{
            width: 12vw;
            height: 8vh;
        }
        #posgre{
            width: 11vw;
            height: 8vh;
        }
    }
    .texto{
        font-size: 20px;
    }
    .skill-row{
        flex-direction: column;
    }
    #github{
        width: 7vw;
    }
    #gmail{
        width: 8vw;
    }

    #whatsapp{
        width: 8vw;
    }
    #linkedin{
        width: 7vw;
    }

}